<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Coding</title>
</head>
<body>
    <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" width="300" />
    <div>
        <h1 id="title-cpu">CPU</h1>
        <h4 id="cpu-counter">0</h4>
    </div>
    <div>
        <h1 id="title-battery">Battery</h1>
        <h4 id="battery-counter">0</h4>
    </div>    

    <script>
        const cpuCounter = document.getElementById('cpu-counter');
        const batteryCounter = document.getElementById('battery-counter');

        // Handle the message inside the webview
        window.addEventListener('message', event => {

            const message = event.data; // The JSON data our extension sent

            switch (message.command) {
                case 'refactor':
                    cpuCounter.textContent = message.cpu;
                    batteryCounter.textContent = message.battery;
                    break;
            }
        });
    </script>
</body>
</html>