<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Manager</title>
    <link rel="stylesheet" href="{dependencies}/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="{dependencies}/moment/moment.js"></script>
    <script type="text/javascript" src="{dependencies}/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="{dependencies}/chartjs-plugin-streaming/dist/chartjs-plugin-streaming.js"></script>
    <style>
        .custom-card-wrapper {
            padding: 8px 10px 8px;
        }
        .custom-card {
            border: 1px solid var(--vscode-panel-border);
        }
        .custom-header {
            background-color: var(--vscode-sideBar-background);
        }
    </style>
</head>
<body style="background-color: transparent; color: var(--vscode-editor-foreground);">
    <div class="row row-height">
        <div class="col-md-4 col-sm-6 custom-card-wrapper">
            <div class="card custom-card">
                <div class="card-header custom-header">CPU Usage</div>
                <canvas id="chart-canvas-cpu" width="200" height="200"></canvas>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 custom-card-wrapper">
            <div class="card custom-card">
                <div class="card-header custom-header">Memory</div>
                <canvas id="chart-canvas-mem" width="200" height="200"></canvas>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 custom-card-wrapper">
            <div class="card custom-card">
                <div class="card-header custom-header">Disk</div>
                <canvas id="chart-canvas-disk" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <script>
        // Cpu Usage --- start ---
        let chartCpuCntx = document.getElementById('chart-canvas-cpu').getContext('2d');
        let chartCpuConf = {
            type: 'line',
            data: {
                datasets: [{
                    label: 'cpu (%)',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    data: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            duration: 20000,
                            refresh: 1000,
                            delay: 2000,
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 100,
                        }
                    }]
                }
            }
        }
        const chartCpuUsage = new Chart(chartCpuCntx, chartCpuConf);
        // Cpu Usage ---  end  ---

        // Memory    --- start ---
        let chartMemCntx = document.getElementById('chart-canvas-mem').getContext('2d');
        let chartMemConf = {
            type: 'line',
            data: {
                datasets: [{
                    label: 'memory (GiB)',
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    data: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            duration: 20000,
                            refresh: 1000,
                            delay: 2000,
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: {memTotal},
                        }
                    }]
                }
            }
        }
        const chartMem = new Chart(chartMemCntx, chartMemConf);
        // Memory    ---  end  ---

        // Disk      --- start ---
        let chartDiskCntx = document.getElementById('chart-canvas-disk').getContext('2d');
        let chartDiskConf = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        {diskUsage},
                        {diskRemain},
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(207, 200, 196, 0.5)',
                    ],
                }],
                labels: [
                    'Usage (GB)',
                    'Remain (GB)',
                ]
            },
            options: {
                responsive: true,
            }
        }
        const chartDisk = new Chart(chartDiskCntx, chartDiskConf);
        // Disk      ---  end  ---

        /**
         * refresh chart.
         * @param chart chart instance.
         * @param value update value.
         */
        function onRefresh(chart, value) {
            chart.config.data.datasets.forEach(function(dataset) {
                dataset.data.push({
                    x: Date.now(),
                    y: value
                });
            });
        }

        /**
         * Handle the message inside the webview
         */
        window.addEventListener('message', event => {
            const message = event.data; // The JSON data our extension sent
            switch (message.command) {
                case 'cpu':
                    onRefresh(chartCpuUsage, message.status)
                    break;
                case 'memory':
                    onRefresh(chartMem, message.status);
                    break;
            }
        });

        // TODO : background process postMessage logic
        // const vscode = acquireVsCodeApi();
        // document.querySelector('.add-sample-button').addEventListener('click', () => {
        //     vscode.postMessage({ type: 'sample', value: 'hogehoge'})
        // });
    </script>
</body>
</html>